<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280184287299-ig0b9u9t2ddjhfknjihbn28hp3b3fpgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280184287299-ig0b9u9t2ddjhfknjihbn28hp3b3fpgr</string>
	<key>API_KEY</key>
	<string>AIzaSyAai8LYVgS-AR5psL-9sfwb7bEu_QD6vHI</string>
	<key>GCM_SENDER_ID</key>
	<string>280184287299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>novicapetrovic.SwiftUICombineAndData</string>
	<key>PROJECT_ID</key>
	<string>swiftui-training-a110e</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-training-a110e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280184287299:ios:c7111d0046dc07d22464f6</string>
</dict>
</plist>